<!--ユーザーをフォローしているユーザーの一覧画面-->
<!--ユーザー情報-->
<%= render 'users/user.sidebar', user: @user, diaries_side: @diaries_side %>
    <div class="col-md-8 offset-1">
      <div class="row" style="margin-top: 20px; padding-bottom: 10px;">
        <h2>Follower Users</h2>
      </div>
      <!--フォローされている場合-->
      <% if @users.exists? %>
        <table class="table table-hover">
          <thead class="thead-dark">
            <tr>
              <th>image</th>
              <th>name</th>
              <th colspan="4"></th>
            </tr>
          </thead>
          <tbody>
            <% @users.each do |user| %>
              <tr style="line-height: 60px;">
                <td><%= attachment_image_tag user, :profile_image, :fill, 60, 60, format: 'jpeg', fallback: "no_image.jpg", size: "60x60" %></td>
                <td><%= user.user_name %></td>
                <td>diaries：<%= user.diaries.count %></td>
                <td>Follows：<%= user.relationships.count %></td>
                <td>Followers：<%= user.reverse_of_relationships.count %></td>
                <td><%= link_to 'SHOW', user_path(user.id), class: "btn btn-sm btn-outline-secondary" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <!--フォローされていない場合-->
      <% else %>
        <p>ユーザーはいません</p>
      <% end %>
      <!--ページネーション機能-->
      <div class="row">
        <div class="col-md-7 offset-5">
          <%= paginate @users %>
        </div>
      </div>
    </div>
  </div>
</div>
