<%= render 'users/user.sidebar', user: @user, diaries_side: @diaries_side %>
    <div class="col-md-8 offset-1">
      <div class="row" style="margin-top: 20px; padding-bottom: 10px; border-bottom: solid 1px black;">
        <h3>Diaries</h3>
      </div>
      <div class="row" style="margin: 20px 0px 20px 0px">
        <% @diaries.each do |diary| %>
          <div class="col-md-5 offset-1" style="border: solid 1px gray; margin-top: 15px;">
            <%= link_to diary_path(diary.id) do %>
              <div class="row">
                <%= attachment_image_tag diary, :diary_image, :fill, 311, 174, format: 'jpeg', fallback: "no_photo_image.jpg", size: "311x174" %>
              </div>
            <% end %>
            <div class="row" style="margin-top: 10px; border-bottom: solid 1px black;">
              <div class="col-md-4">
                <h5><strong>User :</strong></h5>
              </div>
              <div class="col-md-8" style="margin-top: 4px;">
                <%= link_to user_path(diary.user.id) do %>
                  <h6><strong><%= diary.user.user_name %></strong></h6>
                <% end %>
              </div>
            </div>
            <div class="row" style="margin-top: 10px; border-bottom: solid 1px black;">
              <div class="col-md-4">
                <h5><strong>Title :</strong></h5>
              </div>
              <div class="col-md-8" style="margin-top: 4px;">
                <%= link_to diary_path(diary.id) do %>
                  <h6><strong><%= diary.title %></strong></h6>
                <% end %>
              </div>
            </div>
            <div class="row" style="margin-top: 10px;">
              <div class="col-md-12 text-left">
                <h5><strong>Introduction :</strong></h5>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 text-left">
                <p><%= diary.introduction %></p>
              </div>
            </div>
            <div class="row" style="border-top: solid 1px black; padding-top: 10px;">
              <div class="col-md-12 text-left">
                <p><strong> Created Date :　</strong><%= diary.created_at.strftime('%Y/%m/%d') %></p>
              </div>
              <div class="row">
                <div class="col-md-10 offset-2 text-left" style="margin-bottom: 10px;">
                  <%= link_to "SHOW", diary_path(diary.id), class: "btn btn-sm btn-outline-secondary" %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <div class="row">
        <div class="col-md-7 offset-5">
          <%= paginate @diaries %>
        </div>
      </div>
    </div>
  </div>
</div>
