<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <h2>Diary Info</h2>
      <div style="margin-bottom: 10px;">
        <%= attachment_image_tag @diary, :diary_image, :fill, 275, 154, format: 'jpeg', fallback: "no_photo_image.jpg", size: "270x150" %>
      </div>
      
      <table class="table">
        <tbody>
          <tr>
          	<th>User</th>
          	<th>
          	  <%= link_to user_path(@user.id) do %>
          	    <%= @user.user_name %>
              <% end %>
          	</th>
          </tr>
          <tr>
          	<th>Title</th>
          	<th><%= @diary.title %></th>
          </tr>
          <tr>
          	<th>Introduction</th>
          	<th></th>
          </tr>
        </tbody>
      </table>
      <div style="border-bottom: solid 1px gray;">
        <p><%= @diary.introduction %></p>
      </div>
      
      <% if current_user.id == @user.id %>
        <div class="row" style="margin-top: 20px;">
          <%= link_to edit_diary_path(@diary), class: "btn btn-outline-success btn-block" do %>
            <i class="fas fa-edit"></i>
          <% end %>
        </div>
        <div class="row" style="margin-top: 20px;">
          <%= link_to diary_path(@diary), method: :delete, "data-confirm" => "今まで作成された内容の全てが削除されますが、よろしいですか？", class: "btn btn-outline-danger btn-block" do %>
            <i class="fas fa-trash-alt"></i>
          <% end %>
        </div>
        <div class="row" style="margin-top: 20px; padding-top: 20px; border-top: solid 1px gray;">
          <%= link_to new_diary_diary_detail_path(@diary), class: "btn btn-outline-secondary btn-block" do %>
            <i class="far fa-file-alt"></i>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
