<!--日記内容のコメントの一覧表示-->
<% diary_detail.post_comments.each do |post_comment| %>
  <div class="row">
    <div class="col-md-2">
      <%= link_to user_path(post_comment.user.id) do %>
        <%=attachment_image_tag post_comment.user, :profile_image, :fill, 40, 40, format: 'jpeg', fallback: 'no_image.jpg', size: "40x40" %>
      <% end %>
    </div>
    <div class="col-md-8" style="line-height: 40px;">
      <p>
        <%= link_to user_path(post_comment.user.id) do %>
          <%= post_comment.user.user_name %>
        <% end %>
      </p>
    </div>
    <% if post_comment.user_id == current_user.id %>
      <div class="col-md-1" style="line-height: 40px;">
        <%= link_to diary_diary_detail_post_comment_path(post_comment.diary_detail.diary.id, post_comment.diary_detail.id, post_comment.id), method: :delete, class: "btn btn-sm btn-danger", remote: true do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="row">
    <div class="col-md-11 offset-1">
      <p><%= nl2br(post_comment.comment) %></p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-right" style="color: gray;">
      <p><%= post_comment.created_at.strftime('%Y/%m/%d') %></p>
    </div>
  </div>
<% end %>
<!--コメント投稿フォーム-->
<div class="new-comment">
  <%= form_with(model:[diary, diary_detail, post_comment], url: diary_diary_detail_post_comments_path(diary_detail.diary.id, diary_detail.id), method: :post, remote: true) do |f| %>
    <div class="row my-3">
      <%= f.text_area :comment, autofocus: true, placeholder: "コメントをここに入力", size: "50x5", class: "form-control post_comment_comment" %>
    </div>
    <div class="row">
      <%= f.submit "Create Comment", class: "btn btn-sm btn-secondary" %>
    </div>
  <% end %>
</div>
