<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <h2>User Info</h2>
      <div style="margin-bottom: 10px;">
        <%= attachment_image_tag user, :profile_image, :fill, 125, 125, format: 'jpeg', fallback: "no_image.jpg", size: "125x125" %>
      </div>

      <table class="table">
        <tbody>
          <tr>
          	<th>Name</th>
          	<th><%= user.user_name %></th>
          </tr>
          <tr>
          	<th>Introduction</th>
          	<th><%= user.introduction %></th>
          </tr>
          <tr>
          	<th>follows</th>
          	<th><%= link_to user_followings_path(user.id) do %>
          	      <%= user.followings.count %>
          	    <% end %>
          	</th>
          </tr>
          <tr>
          	<th>followers</th>
          	<th><%= link_to user_followers_path(user.id) do %>
          	      <%= user.followers.count %>
          	    <% end %>
          	</th>
          </tr>
        </tbody>
      </table>

      <% if current_user.id == user.id %>
        <div class="row" style="padding-bottom: 20px; border-bottom: solid 1px black;">
          <%= link_to edit_user_path(user.id), class: "btn btn-outline-secondary btn-block" do %>
            <i class="fas fa-user-cog"></i>
          <% end %>
        </div>
      <% else %>
        <% if current_user.following?(user) %>
          <td><%= link_to 'Unfollow', user_relationships_path(user.id), method: :delete, class: "btn btn-outline-info btn-block" %></td>
        <% else %>
          <td><%= link_to 'Follow', user_relationships_path(user.id), method: :post, class: "btn btn-outline-success btn-block" %></td>
        <% end %>
      <% end %>

      <% if current_user.id == user.id %>
        <div class="row" style="margin-top: 20px;">
          <div class="col-md-12">
            <% diaries_side.first(5).each do |diary| %>
              <%= link_to diary_path(diary.id) do %>
                <div class="card-card">
                  <div class="row">
                    <div class="col-md-4">
                      <%= attachment_image_tag diary, :diary_image, :fill, 90, 70, format: 'jpeg', fallback: "no_photo_image.jpg", size: "90x70" %>
                    </div>
                    <div class="col-md-8 text-center" style="margin-top: 25px;">
                      <h6><strong><%= diary.title %></strong></h6>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="row">
          <%= link_to new_diary_path, class: "btn btn-outline-secondary btn-block" do %>
            <i class="fas fa-book"></i>
          <% end %>
        </div>
      <% end %>
    </div>
    