<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h2>User Info</h2>
      <div class="error-text">
        <% if @user.errors.any? %>
          <h3><%= @user.errors.count %> 件のエラーが発生しました</h3>
          <ul>
            <% @user.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        <% end %>
      </div>
      <%= form_with model:@user, local:true do |f| %>
        <div class="form-group">
          <h4 for="user_name">Name</h4>
          <%= f.text_field :user_name, autofocus: true, id:"inputName", placeholder:"ユーザ名", class: "form-control name" %>
        </div>
        <div class="form-group">
          <h4 for="user_image">Image</h4>
          <%= f.attachment_field :profile_image, placeholder: "プロフィール画像" %>
        </div>
        <div class="form-group">
          <%= f.submit "Update User", class: "btn btn-secondary" %>
          <%= link_to "Unsubscribe", unsubscribe_user_path(@user.id), class: 'btn btn-danger' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
