<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <h2>User Info</h2>
      <div style="margin-bottom: 10px;">
        <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg", size: "125x125" %>
      </div>

      <table class="table">
        <tbody>
          <tr>
          	<th>Name</th>
          	<th><%= @user.user_name %></th>
          </tr>
          <tr>
          	<th>Introduction</th>
          	<th><%= @user.introduction %></th>
          </tr>
        </tbody>
      </table>

      <div class="row" style="padding-bottom: 20px; border-bottom: solid 1px black;">
        <% if current_user.id == @user.id %>
          <%= link_to edit_user_path(@user.id), class: "btn btn-outline-secondary btn-block" do %>
            <i class="fas fa-user-cog"></i>
          <% end %>
        <% else %>
          <% if current_user.following?(user) %>
            <td><%= link_to 'フォロー外す', user_relationships_path(user.id), method: :delete, class: "btn btn-outline-info btn-block" %></td>
          <% else %>
            <td><%= link_to 'フォローする', user_relationships_path(user.id), method: :post, class: "btn btn-outline-success btn-block" %></td>
          <% end %>
        <% end %>
      </div>

      <% if current_user.id == @user.id %>
        <div class="row" style="margin-top: 20px; border-bottom: solid 1px black">
          <div class="col-md-12">
            <% @diaries_side.first(5).each do |diary| %>
              <%= link_to diary_path(diary.id) do %>
                <div class="card-card">
                  <div class="row">
                    <div class="col-md-4">
                      <%= attachment_image_tag diary, :diary_image, :fill, 90, 70, format: 'jpeg', fallback: "no_photo_image.jpg", size: "90x70" %>
                    </div>
                    <div class="col-md-8 text-center" style="margin-top: 25px;">
                      <h6><strong><%= diary.title %></strong></h6>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="row" style="margin-top: 20px;">
          <%= link_to new_diary_path, class: "btn btn-outline-secondary btn-block" do %>
            <i class="fas fa-book"></i>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="col-md-8 offset-1">
      <div class="row" style="margin-top: 20px; padding-bottom: 10px;">
        <h3>ユーザ一覧</h3>
      </div>
      <table class="table table-hover">
        <thead class="thead-dark">
          <tr>
            <th>Image</th>
            <th>Name</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <% if !user.is_deleted %>
              <tr style="line-height: 60px;">
                <td><%= attachment_image_tag user, :profile_image, :fill, 60, 60 , format: 'jpeg', fallback: 'no_image.jpg', size: '60x60' %></td>
                <td><%= user.user_name %></td>
                <%# if current_user.following?(user) %>
                  <td><%= link_to 'Follow', user_relationships_path(user.id), method: :delete, class: "btn btn-outline-info" %></td>
                <%# else %>
                  <td><%= link_to 'UnFollow', user_relationships_path(user.id), method: :post, class: "btn btn-outline-success" %></td>
                <%# end %>
                <td><%= link_to "SHOW", user_path(user), class: "btn btn-sm btn-outline-secondary" %></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
