<%= render 'users/user.sidebar', user: @user, diaries_side: @diaries_side %>
    <div class="col-md-8 offset-1">
      <div class="row" style="margin-top: 20px; padding-bottom: 10px;">
        <h3>Users</h3>
      </div>
      <table class="table table-hover">
        <thead class="thead-dark">
          <tr>
            <th>Image</th>
            <th>Name</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <% if !user.is_deleted %>
                <tr style="line-height: 60px;">
                  <td><%= attachment_image_tag user, :profile_image, :fill, 60, 60 , format: 'jpeg', fallback: 'no_image.jpg', size: '60x60' %></td>
                  <td><%= user.user_name %></td>
                  <% if user.id != current_user.id %>
                    <% if current_user.following?(user) %>
                      <td><%= link_to 'Unfollow', user_relationships_path(user.id), method: :delete, class: "btn btn-outline-info" %></td>
                    <% else %>
                      <td><%= link_to 'Follow', user_relationships_path(user.id), method: :post, class: "btn btn-outline-success" %></td>
                    <% end %>
                  <% else %>
                    <td>
                      <%= link_to edit_user_path(user.id), class: "btn btn-lg btn-outline-secondary" do %>
                        <i class="fas fa-user-cog"></i>
                      <% end %>
                    </td>
                  <% end %>
                  <td><%= link_to "SHOW", user_path(user), class: "btn btn-sm btn-outline-secondary" %></td>
                </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
      <div class="row">
        <div class="col-md-7 offset-5">
          <%= paginate @users %>
        </div>
      </div>
    </div>
  </div>
</div>
