<div class="container">
  <div class="row">
    <div class="col-md-8 offset-2">
      <table class="table table-bordered">
	      <tr>
		      <td class="table-secondary">お名前</td>
		    	<td><%= @contact.name %></td>
	      </tr>

	      <tr>
		      <td class="table-secondary">返信先メールアドレス</td>
		    	<td><%= @contact.email %></td>
	      </tr>

	      <tr>
		      <td class="table-secondary">電話番号</td>
		    	<td><%= @contact.phone_number %></td>
	      </tr>

	      <tr>
		      <td class="table-secondary">お問い合わせ件名</td>
		    	<td><%= @contact.subject %></td>
	      </tr>

	      <tr>
		      <td class="table-secondary">メッセージ</td>
		    	<td><%= @contact.message %></td>
	      </tr>
	    </table>
	    <div class="row">
	      <div class="col-md-1">
          <%= form_with model:@contact, url: contacts_path(@contact.id), method: :post, local:true do |f| %>
            <%= f.hidden_field :name %>
            <%= f.hidden_field :email %>
            <%= f.hidden_field :phone_number %>
            <%= f.hidden_field :subject %>
            <%= f.hidden_field :message %>
            <%= f.submit '送信', class: "btn btn-sm btn-secondary" %>
          <% end %>
	      </div>
	      <div class="col-md-1 offset-1">
          <%= form_with model:@contact, url: back_path, local:true do |f| %>
            <%= f.hidden_field :name %>
            <%= f.hidden_field :email %>
            <%= f.hidden_field :phone_number %>
            <%= f.hidden_field :subject %>
            <%= f.hidden_field :message %>
            <%= f.submit '入力画面に戻る', class: "btn btn-sm btn-secondary" %>
          <% end %>
	      </div>
	    </div>
    </div>
  </div>
</div>
