<div class="container">
  <div class="row">
    <div class="col-md-8 offset-2">
      <div class="error-text">
        <% if @contact.errors.any? %>
          <h3><%= @contact.errors.count %> 件のエラーが発生しました</h3>
          <ul>
            <% @contact.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        <% end %>
      </div>
      <%= form_with model:@contact, url: confirm_path, local:true do |f| %>
        <div class="form-group">
          <%= f.label :name, 'お名前*' %>
          <%= f.text_field :name, autofocus: true, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :email, '返信先メールアドレス*' %>
          <%= f.text_field :email, autofocus: true, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :phone_number, '電話番号（ハイフンなし）*' %>
          <%= f.text_field :phone_number, autofocus: true, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :subject, 'お問い合わせ件名*' %>
          <%= f.select :subject, Contact.subjects.keys %>
        </div>
        
        <div class="form-group">
          <%= f.label :message, 'メッセージ*' %>
          <%= f.text_area :message, size: '10x10', class: 'form-control' %>
        </div>
        
        <div>
          <%= f.submit '入力内容確認', class: "btn btn-sm btn-secondary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
