<!--Be.Diaryの詳細説明画面-->
<div class="container">
  <div class="row">
    <div class="col-md-10 offset-1">
      <div class="row">
        <div class="col-md-4">
          <%= image_tag 'logo.jpg' %>
        </div>
        <div class="col-md-7 py-5">
          <h2>Be.Diaryとは…</h2>
          <p>
            公開型日記サイトです。<br>
            ご自身の夢や目標に向かっての日々の努力を日記として記録し公開します。<br>
            そちらの日記を志を持つ仲間とお互いに共有し、切磋琢磨しましょう。<br>
            Be.Diaryは夢や目標を応援し、共に頑張る仲間と繋がるコミュニティサイトでもあります。
          </p>
        </div>
      </div>
      <div class="row my-4">
        <div class="col-md-7">
          <h2>夢や目標のある人に勇気と翼を！</h2>
          <p>
            誰しも夢や目標があると思います。しかし、一人では継続して頑張ることができなかったり、こんな自分には無理だと悲観することがあると思います。
            そんな自分自身を鼓舞するためや、目標に向けて一歩を踏み出すきっかけとして、Be.Diaryがお役に立つことができれば良いと考えております。
            また、社会的に厳しい時代ではありますが、サイトを訪れた方が新しい一歩を踏み出すきっかけになれば運営者としてこれほど幸せなことはありません。
            夢や目標を達成するために、一歩踏み出すきっかけに、志を持つ仲間と繋がれるコミュニティになることを切に願っています。
          </p>
        </div>
        <div class="col-md-5">
          <%= image_tag 'hope.jpg', size: '400x230' %>
        </div>
      </div>
      <div class="row my-4">
        <div class="col-md-5">
          <%= image_tag 'partner.jpg', size: '400x230' %>
        </div>
        <div class="col-md-6 offset-1" style="padding-top: 40px;">
          <h2>こんな方におすすめ</h2>
          <p>
            ・叶えたい夢や達成したい目標ががある方<br>
            ・目標達成に向けて、似た目標を持つ人と頑張りたい方<br>
            ・目標達成に向けて、自分を鼓舞したい方<br>
            ・夢や目標を見つけ、一歩踏み出したい方
          </p>
        </div>
      </div>
      <div class="row my-５">
        <div class="col-md-7">
          <h2>徹底した自己管理</h2>
          <p>
            「目標を立てたはいいけど、継続することができなくて断念した…」なんて経験ありませんか？
            結局のところ自分が決めたことを守るのは自分自身なので、日を追うごとに甘くなる傾向があります。
            そしていつの間にか決めたことを一切守らなくなります。これを解決するには、自分の目標や決めたことに人を巻き込むことが一番です。
            巻き込むと言っても、勝手に自分の中で監視役にしてしまうということです。
            Be.Diaryでは日記を公開していただきます。そうすることで必ず他のユーザーの方が閲覧することになります。
            他のユーザーの方に閲覧されることが、擬似的に誰かに監視されている状況になるので、自身に強制力が働き徹底して自己管理を行うことが可能になります。
          </p>
        </div>
        <div class="col-md-5" style="padding-top: 40px;">
          <%= image_tag 'management.jpg', size: '400x230' %>
        </div>
      </div>
      <div class="row my-5">
        <div class="col-md-5" style="padding-top: 20px;">
          <%= image_tag 'community.jpg', size: '400x230' %>
        </div>
        <div class="col-md-6 offset-1">
          <h2>コミュニティとしても . . .</h2>
          <p>
            当サイトの主な機能といたしましては日記の投稿と閲覧になりますが、
            サイトの目的としましてはユーザーの方が目標を持ち達成するための環境を提供することにあります。
            ですので、日記の投稿や閲覧だけではなく、ユーザーの方同士で繋がり情報の共有や励まし合いができる環境の構築を目指しております。
            目標を達成するためには、継続して行うことが非常に重要だと考えておりますので、
            ユーザーの方同士で切磋琢磨し鼓舞し合えるよう、フォローやコメントをすることが可能となっております。
          </p>
        </div>
      </div>
      <div class="row bg-warning" style="border: solid 1px black; padding: 30px; border-radius: 30px;">
        <h2>ーーお願いーー</h2>
        <h5 style="line-height: 40px;">
          ・不適切な内容を含む日記の作成や更新は、お控えください。<br>
          ・コメントで誹謗中傷など人を傷つけることや、不快にするような発言はしないでください。<br>
          ・基本的にネガティブ内容を含むものは、お控えください。<br>
          ・著作権の侵害を含むものは使用しないでください。<br>
        </h5>
        <h6 style="line-height: 25px;">
          ＜運営より＞<br>
          目標達成に向けて頑張る方を応援する、前向きなサイト運営に努めて参りますので、<br>
          ご理解とご協力のほどよろしくお願いいたします。
        </h6>
      </div>
    </div>
  </div>
</div>
