<div class="container">
  <div class="row">
    <div class="col-md-2 text-center" style="margin: 30px 0 35px 0;">
      <h4 style="background-color: #808080; color: white;">ログイン</h4>
    </div>
  </div>
  <%= form_with model: @user, url: user_session_path, local: true do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    
    <div class="row" style="font-size: 13px; margin-top: 10px;">
      <div class="col-md-2 offset-md-1 text-left">
        <%= f.label :メールアドレス %>
      </div>
      <div class="col-md-1 text-right">
        <%= f.email_field :email, autofocus: true, size: 25 %>
      </div>
    </div>

    <div class="row" style="font-size: 13px; margin-top: 10px;">
      <div class="col-md-2 offset-md-1 text-left">
        <%= f.label :パスワード %>
      </div>
      <div class="col-md-1 text-left">
        <%= f.password_field :password, size: 25 %>
      </div>
    </div>

    <div class="row" style="font-size: 13px; margin-top: 10px;">
      <div class="col-md-1 offset-md-3 text-right">
        <div class="actions">
          <%= f.submit "ログイン", class: "btn btn-ig btn-secondary" %>
        </div>
      </div>
    </div>
  <% end %>
  <div class="row">
    <div class="col-md-3 text-center" style="margin: 30px 0 35px 0;">
      <h4 style="background-color: #808080; color: white;">登録がお済みでない方</h4>
    </div>
  </div>
  <p class="col-md-4 offset-md-1 text-left"><%= link_to 'こちら', new_user_registration_path %>　からログインしてください</p>
</div>